@import url('https://fonts.googleapis.com/css?family=Dosis');

:root {
  /* generic */
  --gutterSm: 0.4rem;
  --gutterMd: 0.8rem;
  --gutterLg: 1.6rem;
  --gutterXl: 2.4rem;
  --gutterXx: 7.2rem;
  --colorPrimary400: #241047;
  --colorPrimary600: #150436;
  --colorPrimary800: #10062e;
  --fontFamily: 'Dosis', sans-serif;
  --fontSizeSm: 1.2rem;
  --fontSizeMd: 1.6rem;
  --fontSizeLg: 2.8rem;
  --fontSizeXl: 2.8rem;
  --fontSizeXx: 3.6rem;
  --lineHeightSm: 1.1;
  --lineHeightMd: 1.8;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

  /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeLg);
  --inputLineHeight: var(--lineHeightMd);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY1: 170%;
  --labelDefaultPosY2: -50%;
  --labelTransformedPosY1: calc(
    (var(--labelDefaultPosY1)) -
      (var(--inputPaddingV) * var(--labelScaleFactor)) -
      (var(--inputFontSize) * var(--inputLineHeight))
  );
  --labelTransformedPosY2: calc(
    (var(--labelDefaultPosY2)) -
      (var(--inputPaddingV) * var(--labelScaleFactor)) -
      (var(--inputFontSize) * var(--inputLineHeight))
  );
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: black;
  background-color: #2f0972;
  font-family: var(--fontFamily);
  font-size: var(--fontSizeMd);
  line-height: var(--lineHeightMd);
}
.container {
  justify-content: center;
}
.Wrapper {
  flex: 0 0 80%;
  max-width: 150%;
}

.Title {
  margin: 0 0 var(--gutterXx) 0;
  padding: 0;
  color: #fff;
  font-size: var(--fontSizeXx);
  font-weight: 400;
  line-height: var(--lineHeightSm);
  text-align: center;
  text-shadow: -0.1rem 0.1rem 0.2rem var(--colorPrimary800);
}

.Input {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.Input-text1,
.Input-text2 {
  display: block;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: inherit;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
  text-align: center;
  border: 3px solid #10062e;
  width: 100%;
  margin: 0;
}
.Input-text1 {
  margin-bottom: 30px;
}

.Input-text1::placeholder,
.Input-text2::placeholder {
  color: #b0bec5;
}

.Input-text1:focus,
.Input-text2:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

.Input-label1,
.Input-label2 {
  display: block;
  position: absolute;
  bottom: 50%;
  left: 1rem;
  color: #fff;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  opacity: 0;
  transform-origin: 0 0;
  transition: opacity var(--inputTransitionDuration) var(--inputTransitionTF),
    transform var(--inputTransitionDuration) var(--inputTransitionTF),
    visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
    z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF);
}
.Input-label1 {
  transform: translate3d(0, var(--labelDefaultPosY2), 0) scale(1);
}
.Input-label2 {
  transform: translate3d(0, var(--labelDefaultPosY1), 0) scale(1);
}

.Input-text1:placeholder-shown + .Input-label1 {
  visibility: hidden;
  z-index: -1;
}

.Input-text1:not(:placeholder-shown) + .Input-label1,
.Input-text1:focus:not(:placeholder-shown) + .Input-label1 {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform: translate3d(0, var(--labelTransformedPosY2), 0)
    scale(var(--labelScaleFactor));
  transition: transform var(--inputTransitionDuration), visibility 0ms,
    z-index 0ms;
}
.Input-text2:placeholder-shown + .Input-label2 {
  visibility: hidden;
  z-index: -1;
}

.Input-text2:not(:placeholder-shown) + .Input-label2,
.Input-text2:focus:not(:placeholder-shown) + .Input-label2 {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform: translate3d(0, var(--labelTransformedPosY1), 0)
    scale(var(--labelScaleFactor));
  transition: transform var(--inputTransitionDuration), visibility 0ms,
    z-index 0ms;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #020720;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(231, 231, 240, 0.1) 0 0 0 1px inset,
    rgba(229, 229, 236, 0.1) 0 2px 5px 0, rgba(236, 230, 230, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: var(--fontFamily);
  font-size: var(--fontSizeMd);
  line-height: var(--lineHeightMd);
  height: 60px;
  /* line-height: 1.15; */
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-top: 4rem;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(166, 166, 184, 0.1) 0 0 0 1px inset,
    rgba(175, 175, 197, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(172, 185, 194, 0.3) 0 0 0 4px;
}
.return {
  margin-top: 15px;
  max-width: 100%;
  height: 100px;
  padding: 5px;
  background-color: #fff;
  border: 3px solid #645d77;
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  border-radius: 3px;
}
